/*Schrijf hier jouw CSS*/

body{
    /*Ik zag geen andere uitweg hier dan de body een flexbox te geven, volgens mij is dit niet gebruikelijk maar voor dit opdracht kan het niet anders volgens mij, toch?*/
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    flex-grow:1;
}

main{
    flex-grow:10;
    display: flex;
}

article{
    flex-grow: 3;
    order:1
}

nav{
    flex-grow: 1;
    order:3;
}

aside{
    flex-grow: 1;
    order:2;
}

footer{
    flex-grow:1;
}

